<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sm1999.aimtodo">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/todolistimage"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/todolistimage"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TravelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MoviesToWatchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroceriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FamilyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudiesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home.SplashscreenActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Home.AboutActivity"></activity>
    </application>

</manifest>